.inputs {
  display: flex;
  width: max-content;
}
.inputs > div:first-child {
  margin: 0 35px 0 0;
}
.inputs > div:first-child input, .inputs > div:first-child textarea {
  font-family: Alef;
  font-size: 20px;
  min-width: 520px;
  padding: 25px 20px;
  border-radius: 10px;
  border: 1px solid #28457a;
  cursor: pointer;
  transition: 300ms;
}
.inputs > div:first-child input:hover, .inputs > div:first-child textarea:hover {
  background: rgba(255, 255, 255, 0.88);
}
.inputs .input_title {
  display: block;
  margin: 0 0 20px 0;
}
.inputs .input_description {
  min-height: 200px;
}
.inputs .btn {
  width: 100px;
  height: 98%;
  background: url("../img/add.png") 50%/50% no-repeat, #5b5757b0;
  padding: 15px 20px;
  border: 1px solid #28457a;
  border-radius: 10px;
  cursor: pointer;
  transition: 300ms;
}
.inputs .btn:hover {
  background-color: rgba(91, 87, 87, 0.88);
}

.task {
  position: relative;
  background: #6884be;
  max-width: 655px;
  border-radius: 10px;
  margin: 40px 0 -20px 0;
  padding: 20px 100px 20px 50px;
}

.task_title,
.task_description {
  position: relative;
}

.task_title {
  font-weight: bold;
  min-height: 41px;
  font-size: 28px;
  border-bottom: 3px solid black;
  width: 100%;
  margin: 0 0 10px;
  padding-bottom: 10px;
}

.task_description {
  min-height: 28px;
}

.error_input {
  position: fixed;
  top: 0;
  z-index: -1;
  padding: 20px;
  border-radius: 20px 80px;
  opacity: 0;
  background: #d33636;
  transition: 800ms;
  cursor: default;
}

.control {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-20%, -50%);
  display: flex;
}
.control > div svg {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 300ms;
}
.control .edit svg:hover {
  fill: green;
}
.control .delete svg:hover {
  fill: red;
}

.task_edit {
  font-family: Alef;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  min-height: 38px;
  margin-top: -5px;
  padding: 0;
  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 0 5px #000000;
  background: #a1b1dc;
}
.task_edit::-webkit-scrollbar {
  width: 7px;
  background: #1c2b4b;
  border-radius: 15px;
}
.task_edit::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 15px;
}

.edit_title {
  bottom: 5px;
  font-weight: bold;
  font-size: 28px;
}

.edit_description {
  margin-top: -2.5px;
  font-size: 24px;
}

.statistics_list .item {
  padding: 50px;
  background: #4a5262;
  max-width: 350px;
  border-radius: 25px;
  font-size: 28px;
  display: inline-block;
}
.statistics_list > div:not(:last-child) {
  margin: 0 0 40px 0;
}
.statistics_list .value {
  display: inline-block;
  font-size: 110px;
}
.statistics_list img {
  width: 300px;
}
.statistics_list .number_added img {
  vertical-align: sub;
}
.statistics_list .number_deleted .value, .statistics_list .number_deleted img {
  vertical-align: top;
}
.statistics_list .number_deleted img {
  width: 350px;
}
.statistics_list .number_edited {
  margin-top: -28px !important;
}
.statistics_list .number_edited img {
  width: 350px;
  vertical-align: bottom;
  transform: rotate(-10deg);
}
.statistics_list .number_edited .value {
  vertical-align: top;
}
.statistics_list .time_adding_first .value {
  vertical-align: bottom;
}
.statistics_list .time_adding_first img {
  vertical-align: top;
}
.statistics_list .time_adding_last img {
  vertical-align: top;
  transform: rotate(182deg);
}
.statistics_list .time_adding_first .value, .statistics_list .time_adding_last .value {
  max-width: 115px;
  margin-left: 5px;
  font-family: system-ui;
  font-size: 27px;
  line-height: 23px;
  font-weight: 600;
  vertical-align: bottom;
}

* {
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  width: 0;
}

textarea {
  resize: none;
}

body {
  font-family: Alef;
  font-size: 24px;
  line-height: 28px;
  background: linear-gradient(rgba(152, 149, 149, 0.59), rgba(63, 69, 129, 0.67));
  min-height: 100vh;
  margin: 0;
}

.wrap {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.main {
  padding: 80px 0 80px 330px;
  width: 100%;
}

.nav {
  max-width: 200px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-550px, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  background: #4a5262;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}
.nav .hidden {
  margin: 0 auto 20px;
  display: block;
  width: 100%;
  max-width: 120px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #fdfdfd;
  color: #1c2b4b;
  font-size: 16px;
  font-weight: bold;
  transition: 300ms;
}
.nav .hidden:hover {
  background: #6884be;
  box-shadow: 0 0 5px #dce7fc;
  color: white;
  cursor: pointer;
}
.nav a, .nav a:hover, .nav a:visited {
  text-decoration: none;
  color: inherit;
}
.nav .elem {
  width: 120px;
  height: 120px;
  background: #6884be;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: 300ms;
}
.nav .elem:not(:last-child) {
  margin-bottom: 25px;
}
.nav .elem:hover {
  background: rgba(255, 255, 255, 0.89);
  box-shadow: 0 0 5px white;
  cursor: pointer;
}
.nav .elem svg {
  display: block;
  margin: 0 auto 10px;
  width: 40px;
  height: 40px;
}

.title {
  line-height: 40px;
  margin: 0 auto 70px;
  color: #282c34;
}

/*# sourceMappingURL=index.css.map */
