.statistics_list {
  .item {
    padding: 50px;
    background: #4a5262;
    min-width: 350px;
    max-width: 350px;
    max-height: 185px;
    border-radius: 25px;
    font-size: 28px;
  }

  & > div {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin: 0 0 40px 0;
    }
  }

  .value {
    font-size: 110px;
  }

  img {
    max-width: 350px;
  }

  .number_added {
    img {
      max-width: 430px;
    }

    .value {
      align-self: center;
    }
  }

  .number_deleted {
    img {
      max-width: 385px;
    }

    .value {
      margin-top: 35px;
    }
  }

  .number_edited {
    img {
      max-width: 400px;
      margin-top: -25px;
      transform: rotate(-10deg);
    }

    .value {
      margin-top: -30px;
    }
  }

  .time_adding_first {
    margin-top: -30px !important;

    .value {
      align-self: end;
    }
  }

  .time_adding_last {
    img {
      transform: rotate(182deg);
    }

    .value {
      align-self: center;
    }
  }

  .time_adding_first, .time_adding_last {
    .value {
      max-width: 115px;
      margin-left: 5px;
      font-family: system-ui;
      font-size: 27px;
      line-height: 23px;
      font-weight: 600;
    }
  }
}
